<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <title>Connected Little Boxes</title>
</head>

<body>
    <h1 class="mb-4">Connected Little Boxes</h1>
    <h2 class="mb-4">Welcome <%= name %>
    </h2>
    <div class="container mb-4">
        <h1 class="mb-4">
            Manage Devices
        </h1>
        <p>Configure devices and view their activity.</p>
        <a href="/deviceSelect" class="btn btn-success mb-4">Devices</a>
    </div>
    <div class="container mb-4">
        <h1 class="mb-4">
            Control Lights
        </h1>
        <p>Change the colours and behaviours of lights.</p>
        <a href="/lightShow" class="btn btn-success mb-4">Light Show</a>
    </div>
    <div class="container mb-4">
        <%
        var registerButton="";
        if(role=="admin")
            registerButton=`<a href="/register" class="btn btn-success mb-4">Register</a>`
        %>
        <%- registerButton %>
        <a href="/logout" class="btn btn-success mb-4">Logout</a>
    </div>
</body>

</html>