<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Connected Little Boxes</title>
</head>

<body>
    <div class="container mb-2 mt-2">
        <h1 class="mb-4">Connected Little Boxes</h1>
        <h2 class="mb-4">
            <%= name %>
        </h2>
    </div>
    <div class="container mb-4">
        <a href="<%=host%>hardware/flash" class="btn btn-primary mb-4 btn-block">Create a new box or update an
            existing one</a>
    </div>
    <% if (role!="admin" ){ %>
        <div class="container mb-4">
            <a href="/connect/wiFi" class="btn btn-primary mb-4 btn-block w-100">Use your phone or tablet to configure
                your box over WiFi</a>
        </div>
        <% } %>

            <div class="container mb-4">
                <a href="/connect/usb" class="btn btn-primary mb-4 btn-block w-100">Configure your box by plugging
                    it into a PC or laptop</a>
            </div>
            <div class="container mb-4">
                <a href="/deviceSelect" class="btn btn-primary mb-4 btn-block w-100">
                    <% if (role=="admin" ){ %>
                        Manage all boxes
                        <% } else { %>
                            Manage your boxes
                            <% } %>
                </a>
            </div>
            <% if (role=="admin" ){ %>
                <div class="container mb-4">
                    <a href="/deviceSelect/getMacAddresses" class="btn btn-primary mb-4 btn-block w-100">Get MAC addresses for boxes</a>
                </div>
                <% } %>
            <% if (role=="admin" ){ %>
                <div class="container mb-4">
                    <a href="/rugbyMatch/index" class="btn btn-primary mb-4 btn-block w-100">Manage Rugby Match</a>
                </div>
                <% } %>

            <div class="container mb-4">
                <a href="/command/commandGroupSelect" class="btn btn-primary mb-4 btn-block w-100">
                    <% if (role=="admin" ){ %>
                        Manage all Command Groups
                        <% } else { %>
                            Create groups of commands that can be triggered from the web
                            <% } %>
                </a>
            </div>
            <% if (role=="admin" ){ %>
                <div class="container mb-4">
                    <a href="/processManager/Select" class="btn btn-primary mb-4 btn-block w-100">Create
                        behaviours for box processes</a>
                </div>
                <% } %>
                    <% if (role=="admin" ){ %>
                        <div class="container mb-4">
                            <a href="/lightShow" class="btn btn-primary mb-4  btn-block w-100">Send commands to
                                trigger large numbers of lights</a>
                        </div>
                        <% } %>
                            <div class="container mb-4">
                                <a href="/changePassword" class="btn btn-primary mb-4  btn-block w-100">Change
                                    your
                                    password</a>
                            </div>
                            <% if (role=="admin" ){ %>
                                <div class="container mb-4">
                                    <a href="/register" class="btn btn-primary mb-4  btn-block w-100">Register a
                                        new user</a>
                                </div>
                                <div class="container mb-4">
                                    <a href="/updateUserPassword" class="btn btn-primary mb-4  btn-block w-100">Change a
                                        user password</a>
                                </div>
                                <% } %>
                                    <div class="container mb-4">
                                        <a href="/logout" class="btn btn-primary mb-4 btn-block w-100">Logout</a>
                                    </div>
</body>

</html>