<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Connected Little Boxes</title>
</head>

<body>
    <div class="container mb-2 mt-2">
        <h1 class="mb-4">Connected Little Boxes</h1>
        <h2 class="mb-4">
            <%= name %>
        </h2>
        <div class="container mb-4">
            <a href="<%= host %>createDevice" class="btn btn-primary mb-4 btn-block">Create a device</a>
        </div>
        <div class="container mb-4">
            <a href="/deviceSelect" class="btn btn-primary mb-4 btn-block">Manage Devices</a>
        </div>
        <div class="container mb-4">
            <a href="/command/commandGroupSelect" class="btn btn-primary mb-4 btn-block">Manage Command Groups</a>
        </div>
         <div class="container mb-4">
            <a href="/lightShow" class="btn btn-primary mb-4  btn-block">Light Show</a>
        </div>
        <div class="container mb-4">
            <a href="/changePassword" class="btn btn-primary mb-4  btn-block">Change password</a>
        </div>
        <div class="container mb-4">
            <% var registerButton="" ; if(role=="admin" ) registerButton=`<a href="/register"
                class="btn btn-primary mb-4 btn-block">Register</a>`
                %>
                <%- registerButton %>
                    <a href="/logout" class="btn btn-primary mb-4 btn-block">Logout</a>
        </div>
    </div>
</body>

</html>