<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">`
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Connected Little Boxes</title>
</head>

<body>
    <div class="container mb-4">
        <h1 class="mb-2">Connected Little Boxes</h1>
        <h2 class="mb-4"><%= heading %></h1>
    <p>
      <%=message%>
        <% menu.forEach( item=>{ %>
          <div class="row">
            <div class="col-sm-12">
              <button class="btn btn-primary mt-1 btn-block" onclick="window.location.href='<%=item.route%>' ">
                <%=item.description%>
              </button>
            </div>
          </div>
          <% })%>
    </p>
  </div>
</body>

</html>