<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Connected Little Boxes</title>
</head>

<body>
    <div class="container mb-2 mt-2">
        <h1 class="mb-4">Connected Little Boxes</h1>
        <h2 class="mb-4">Open a match</h2>
    </div>
    <div class="container mb-4">
        <form action="/rugbyMatch/openMatch" method="POST">
            <label for="matchName">Matches</label>
            <select class="form-control" name="matchName" id="matchName">
                <% matchNameList.forEach(name=> { %>
                    <option value="<%=name %>">
                        <%=name %>
                    </option>
                    <% }) %>
            </select>
            <input type="submit" value="Open" class="btn btn-primary mt-2 btn-block">
        </form>
    </div>
</body>

</html>